<!DOCTYPE HTML> 
<html> 
   <head> 
      <meta charset=\"utf-8\">
      <title>R.o.R. Store</title>
      <link rel="stylesheet" href="styles/my_css.css" type="text/css">
      <link rel="icon" href="img/favicon.ico">
   </head>
   <body>
      <div class="visit_&_counter">
         <% if @visit && @counter %>
            Visit counter: <%= @counter %> 
            Last visit: <%= @visit %>
         <% end %>
      </div> 
      <%= yield %>
   </body> 
</html>
