<!DOCTYPE HTML> 
<html> 
   <head> 
      <meta charset=\"utf-8\">
      <title>R.o.R. Store</title>
      <link rel="stylesheet" href="styles/my_css.css" type="text/css">
      <link rel="icon" href="img/favicon.ico">
   </head>
   <body>
      <% if @visit && @counter %>
         <div class="visit_&_counter">
            Pages visit counter: <%= @counter %>. 
            Last visit: <%= @visit %>
         </div>
      <% end %>
      <%= yield %>
   </body> 
</html>
