<!DOCTYPE HTML> 
<html> 
   <head> 
      <meta charset=\"utf-8\">
      <title>R.o.R. Store</title>
      <link rel="stylesheet" href="styles/my_css.css" type="text/css">
      <link rel="icon" href="img/favicon.ico">
   </head>
   <body> 
      <%= yield %>
   </body> 
</html>
