<% @products.each do |product| %>
   <div>
      <p> <a href='<%= product.name %>'><%= product.full_name %></a></p>
      <p> Price: <%= product.price %> </p>
      <p> <img src='<%= product.img %>'> </p>
   </div>
<% end %>
